<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones.

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage.


Therefore if we can determine if the first stage will land, we can determine the cost of a launch.

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [1]:
!pip install sqlalchemy==1.3.9

Collecting sqlalchemy==1.3.9
  Downloading SQLAlchemy-1.3.9.tar.gz (6.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.0/6.0 MB 3.7 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (setup.py) ... done
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.3.9-cp311-cp311-linux_x86_64.whl size=1193603 sha256=422a8aa6dd48c18ca97d311e0f1ea4e3248d990935ccf9b6335875e2b45583b4
  Stored in directory: /root/.cache/pip/wheels/3a/7c/1e/12404784a68083eb969f877a1808a1847bab897684b56ddc55
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 2.0.40
    Uninstalling SQLAlchemy-2.0.40:
      Successfully uninstalled SQLAlchemy-2.0.40
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
langchain 0.3.24 requires SQLAlchemy<3,>=1.4, but you have sqlalchemy 1.3.9 which is incompatible.
ipython-sql 0.5.0 requires sqlalchemy>=2.0, but you have sqlalchemy 1.3.9 which is incompatible.
Successfully installed sqlalchemy-1.3.9

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [2]:
!pip install ipython-sql
!pip install ipython-sql prettytable

Requirement already satisfied: ipython-sql in /usr/local/lib/python3.11/dist-packages (0.5.0)
Requirement already satisfied: prettytable in /usr/local/lib/python3.11/dist-packages (from ipython-sql) (3.16.0)
Requirement already satisfied: ipython in /usr/local/lib/python3.11/dist-packages (from ipython-sql) (7.34.0)
Collecting sqlalchemy>=2.0 (from ipython-sql)
  Downloading sqlalchemy-2.0.40-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (9.6 kB)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.11/dist-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in /usr/local/lib/python3.11/dist-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.11/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy>=2.0->ipython-sql) (3.2.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy>=2.0->ipython-sql) (4.13.2)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (75.2.0)
Collecting jedi>=0.16 (from ipython->ipython-sql)
  Downloading jedi-0.19.2-py2.py3-none-any.whl.metadata (22 kB)
Requirement already satisfied: decorator in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (3.0.51)
Requirement already satisfied: pygments in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (2.19.1)
Requirement already satisfied: backcall in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.11/dist-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /usr/local/lib/python3.11/dist-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.11/dist-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Downloading sqlalchemy-2.0.40-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.2/3.2 MB 27.7 MB/s eta 0:00:00
Downloading jedi-0.19.2-py2.py3-none-any.whl (1.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 37.6 MB/s eta 0:00:00
Installing collected packages: sqlalchemy, jedi
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.9
    Uninstalling SQLAlchemy-1.3.9:
      Successfully uninstalled SQLAlchemy-1.3.9
Successfully installed jedi-0.19.2 sqlalchemy-2.0.40
Requirement already satisfied: ipython-sql in /usr/local/lib/python3.11/dist-packages (0.5.0)
Requirement already satisfied: prettytable in /usr/local/lib/python3.11/dist-packages (3.16.0)
Requirement already satisfied: ipython in /usr/local/lib/python3.11/dist-packages (from ipython-sql) (7.34.0)
Requirement already satisfied: sqlalchemy>=2.0 in /usr/local/lib/python3.11/dist-packages (from ipython-sql) (2.0.40)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.11/dist-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in /usr/local/lib/python3.11/dist-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.11/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.11/dist-packages (from prettytable) (0.2.13)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy>=2.0->ipython-sql) (3.2.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy>=2.0->ipython-sql) (4.13.2)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (75.2.0)
Requirement already satisfied: jedi>=0.16 in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: decorator in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (3.0.51)
Requirement already satisfied: pygments in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (2.19.1)
Requirement already satisfied: backcall in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /usr/local/lib/python3.11/dist-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.11/dist-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)

In [3]:
%load_ext sql

In [4]:
import csv, sqlite3
import prettytable
prettytable.DEFAULT = 'DEFAULT'

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [5]:
!pip install -q pandas

In [6]:
%sql sqlite:///my_data1.db

In [7]:
import pandas as pd
df = pd.read_csv(r"/content/spacex_web_scraped.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

121

**Note:This below code is added to remove blank rows from table**

In [8]:
#DROP THE TABLE IF EXISTS

%sql DROP TABLE IF EXISTS SPACEXTABLE;

 * sqlite:///my_data1.db
Done.

[]

In [9]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
Done.

[]

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [18]:
%sql select * from SPACEXTABLE LIMIT 5;

 * sqlite:///my_data1.db
Done.

[(1, 'CCAFS', 'Dragon Spacecraft Qualification Unit', '0', 'LEO', 'SpaceX', 'Success\n', 'F9 v1.07B0003.18', 'Failure', '4 June 2010', '18:45'),
 (2, 'CCAFS', 'Dragon', '0', 'LEO', 'NASA', 'Success', 'F9 v1.07B0004.18', 'Failure', '8 December 2010', '15:43'),
 (3, 'CCAFS', 'Dragon', '525 kg', 'LEO', 'NASA', 'Success', 'F9 v1.07B0005.18', 'No attempt\n', '22 May 2012', '07:44'),
 (4, 'CCAFS', 'SpaceX CRS-1', '4,700 kg', 'LEO', 'NASA', 'Success\n', 'F9 v1.07B0006.18', 'No attempt', '8 October 2012', '00:35'),
 (5, 'CCAFS', 'SpaceX CRS-2', '4,877 kg', 'LEO', 'NASA', 'Success\n', 'F9 v1.07B0007.18', 'No attempt\n', '1 March 2013', '15:10')]

In [12]:
%sql select distinct("Launch Site") from SPACEXTABLE

 * sqlite:///my_data1.db
Done.

[('CCAFS',), ('VAFB',), ('Cape Canaveral',), ('KSC',), ('CCSFS',)]


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCS'

In [13]:
%sql select "Launch Site" from SPACEXTABLE where "Launch Site" like '%CC%' limit 5;

 * sqlite:///my_data1.db
Done.

[('CCAFS',), ('CCAFS',), ('CCAFS',), ('CCAFS',), ('CCAFS',)]

### Task 3




##### Display the total payload mass carried by boosters launched by SPACEX

In [14]:
%sql select SUM("Payload Mass") from SPACEXTABLE;

 * sqlite:///my_data1.db
Done.

[(3726.0,)]

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [15]:
%sql select AVG("Payload mass") from SPACEXTABLE;

 * sqlite:///my_data1.db
Done.

[(30.793388429752067,)]

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [16]:
%sql select min("Date") from SPACEXTABLE where "Booster landing" like '%success%'

 * sqlite:///my_data1.db
Done.

[('1 May 2017',)]

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [19]:
%sql select "Version Booster" from SPACEXTABLE where "Booster landing" like '%success%' and "Payload mass" > 4000 and "Payload mass" < 6000;

 * sqlite:///my_data1.db
Done.

[('F9 FT♺[',),
 ('F9 FT[',),
 ('F9 FTB1031.2220',),
 ('F9 B5B1046.2354',),
 ('F9 B5B1047.2268',),
 ('F9 B5B1056.3482',),
 ('F9 B5B1058.2544',)]

### Task 7




##### List the total number of successful and failure mission outcomes

In [20]:
%sql select count("Booster landing") as count from SPACEXTABLE where "Booster landing" like '%failure%' union all select count("Booster landing") as count from SPACEXTABLE where "Booster landing" like '%success%';

 * sqlite:///my_data1.db
Done.

[(11,), (80,)]

### Task 8



##### List all the booster_versions that have carried the maximum payload mass. Use a subquery.

In [22]:
%sql select distinct "Version Booster" from SPACEXTABLE where "Payload mass" = (select max("Payload mass") from SPACEXTABLE);

 * sqlite:///my_data1.db
Done.

[('F9 B5B1058.5613',)]

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.**

In [23]:
%sql select avg("Payload mass") as AveragePayloadMass from SPACEXTABLE;

 * sqlite:///my_data1.db
Done.

[(30.793388429752067,)]

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [25]:
%sql select * from SPACEXTABLE where "Booster Landing" like '%success%';

 * sqlite:///my_data1.db
Done.

[(20, 'Cape Canaveral', 'Orbcomm-OG2', '2,034 kg', 'LEO', 'Orbcomm', 'Success\n', 'F9 FT[', 'Success', '22 December 2015', '01:29'),
 (23, 'Cape Canaveral', 'SpaceX CRS-8', '3,136 kg', 'LEO', 'NASA', 'Success', 'F9 FT[', 'Success', '8 April 2016', '20:43'),
 (24, 'Cape Canaveral', 'JCSAT-14', '4,696 kg', 'GTO', 'SKY Perfect JSAT Group', 'Success\n', 'F9 FT[', 'Success', '6 May 2016', '05:21'),
 (25, 'Cape Canaveral', 'Thaicom 8', '3,100 kg', 'GTO', 'Thaicom', 'Success\n', 'F9 FT[', 'Success', '27 May 2016', '21:39'),
 (27, 'Cape Canaveral', 'SpaceX CRS-9', '2,257 kg', 'LEO', 'NASA', 'Success\n', 'F9 FT[', 'Success', '18 July 2016', '04:45'),
 (28, 'Cape Canaveral', 'JCSAT-16', '4,600 kg', 'GTO', 'SKY Perfect JSAT Group', 'Success\n', 'F9 FT[', 'Success', '14 August 2016', '05:26'),
 (29, 'VAFB', 'Iridium NEXT', '9,600 kg', 'Polar', 'Iridium Communications', 'Success\n', 'F9 FT[', 'Success', '14 January 2017', '17:54'),
 (30, 'KSC', 'SpaceX CRS-10', '2,490 kg', 'LEO', 'NASA', 'Success\n', 'F9 FT[', 'Success', '19 February 2017', '14:39'),
 (32, 'KSC', 'SES-10', '5,300 kg', 'GTO', 'SES', 'Success', 'F9 FT♺[', 'Success', '30 March 2017', '22:27'),
 (33, 'KSC', 'NROL-76', 'C', 'LEO', 'NRO', 'Success\n', 'F9 FT[', 'Success', '1 May 2017', '11:15'),
 (35, 'KSC', 'SpaceX CRS-11', '2,708 kg', 'LEO', 'NASA', 'Success\n', 'F9 FT[', 'Success', '3 June 2017', '21:07'),
 (36, 'KSC', 'BulgariaSat-1', '3,669 kg', 'GTO', 'Bulsatcom', 'Success\n', 'F9 FTB1029.2195', 'Success', '23 June 2017', '19:10'),
 (37, 'VAFB', 'Iridium NEXT', '9,600 kg', 'LEO', 'Iridium Communications', 'Success\n', 'F9 FT[', 'Success', '25 June 2017', '20:25'),
 (39, 'KSC', 'SpaceX CRS-12', '3,310 kg', 'LEO', 'NASA', 'Success\n', 'F9 B4[', 'Success', '14 August 2017', '16:31'),
 (40, 'VAFB', 'Formosat-5', '475 kg', 'SSO', 'NSPO', 'Success\n', 'F9 FT[', 'Success', '24 August 2017', '18:51'),
 (41, 'KSC', 'Boeing X-37B', '4,990 kg', 'LEO', 'USAF', 'Success\n', 'F9 B4[', 'Success', '7 September 2017', '14:00'),
 (42, 'VAFB', 'Iridium NEXT', '9,600 kg', 'Polar', 'Iridium Communications', 'Success\n', 'F9 B4[', 'Success', '9 October 2017', '12:37'),
 (43, 'KSC', 'SES-11', '5,200 kg', 'GTO', 'SES S.A.', 'Success\n', 'F9 FTB1031.2220', 'Success', '11 October 2017', '22:53:00'),
 (44, 'KSC', 'Koreasat 5A', '3,500 kg', 'GTO', 'KT Corporation', 'Success\n', 'F9 B4[', 'Success', '30 October 2017', '19:34'),
 (45, 'Cape Canaveral', 'SpaceX CRS-13', '2,205 kg', 'LEO', 'NASA', 'Success\n', 'F9 FTB1035.2227', 'Success', '15 December 2017', '15:36'),
 (47, 'CCAFS', 'Zuma', 'C', 'LEO', 'Northrop Grumman', 'Success', 'F9 B4[', 'Success', '8 January 2018', '01:00'),
 (53, 'CCAFS', 'Transiting Exoplanet Survey Satellite', '362 kg', 'HEO', 'NASA', 'Success', 'F9 B4[', 'Success', '18 April 2018', '22:51'),
 (54, 'KSC', 'Bangabandhu-1', '3,600 kg', 'GTO', 'Thales-Alenia', 'Success', 'F9 B5311B1046.1268', 'Success', '11 May 2018', '20:14'),
 (58, 'CCAFS', 'Telstar 19V', '7,075 kg', 'GTO', 'Telesat', 'Success', 'F9 B5', 'Success', '22 July 2018', '05:50'),
 (59, 'VAFB', 'Iridium NEXT', '9,600 kg', 'Polar', 'Iridium Communications', 'Success', 'F9 B5349B1048[', 'Success', '25 July 2018', '11:39'),
 (60, 'CCAFS', 'Merah Putih', '5,800 kg', 'GTO', 'Telkom Indonesia', 'Success', 'F9 B5B1046.2354', 'Success', '7 August 2018', '05:18'),
 (61, 'CCAFS', 'Telstar 18V', '7,060 kg', 'GTO', 'Telesat', 'Success', 'F9 B5[', 'Success', '10 September 2018', '04:45'),
 (62, 'VAFB', 'SAOCOM 1A', '3,000 kg', 'SSO', 'CONAE', 'Success', 'F9 B5B1048.2364', 'Success', '8 October 2018', '02:22'),
 (63, 'KSC', "Es'hail 2", '5,300 kg', 'GTO', "Es'hailSat", 'Success', 'F9 B5B1047.2268', 'Success', '15 November 2018', '20:46'),
 (64, 'VAFB', 'SSO-A', '~4,000 kg', 'SSO', 'Spaceflight Industries', 'Success', 'F9 B5B1046.3268', 'Success', '3 December 2018', '18:34:05'),
 (67, 'VAFB', 'Iridium NEXT', '9,600 kg', 'Polar', 'Iridium Communications', 'Success\n', 'F9 B5B1049.2397', 'Success', '11 January 2019', '15:31'),
 (68, 'CCAFS', 'Nusantara Satu', '4,850 kg', 'GTO', 'PSN', 'Success\n', 'F9 B5B1048.3399', 'Success', '22 February 2019', '01:45'),
 (69, 'KSC', 'Crew Dragon Demo-1', '12,055 kg', 'LEO', 'NASA', 'Success\n', 'F9 B5[]413', 'Success', '2 March 2019', '07:49'),
 (70, 'CCAFS', 'SpaceX CRS-17', '2,495 kg', 'LEO', 'NASA', 'Success\n', 'F9 B5[', 'Success', '4 May 2019', '06:48'),
 (71, 'CCAFS', 'Starlink', '13,620 kg', 'LEO', 'SpaceX', 'Success\n', 'F9 B5B1049.3434', 'Success', '24 May 2019', '02:30'),
 (72, 'VAFB', 'RADARSAT Constellation', '4,200 kg', 'SSO', 'Canadian Space Agency', 'Success\n', 'F9 B5B1051.2420', 'Success', '12 June 2019', '14:17'),
 (73, 'CCAFS', 'SpaceX CRS-18', '2,268 kg', 'LEO', 'NASA', 'Success\n', 'F9 B5B1056.2465', 'Success', '25 July 2019', '22:01'),
 (75, 'CCAFS', 'Starlink', '15,600 kg', 'LEO', 'SpaceX', 'Success\n', 'F9 B5', 'Success', '11 November 2019', '14:56'),
 (76, 'CCAFS', 'SpaceX CRS-19', '2,617 kg', 'LEO', 'NASA', 'Success\n', 'F9 B5[', 'Success', '5 December 2019', '17:29'),
 (77, 'CCAFS', 'JCSat-18', '6,956 kg', 'GTO', 'Sky Perfect JSAT', 'Success\n', 'F9 B5B1056.3482', 'Success', '17 December 2019', '00:10'),
 (78, 'CCAFS', 'Starlink', '15,600 kg', 'LEO', 'SpaceX', 'Success\n', 'F9 B5', 'Success', '7 January 2020', '02:19:21'),
 (80, 'CCAFS', 'Starlink', '15,600 kg', 'LEO', 'SpaceX', 'Success\n', 'F9 B5', 'Success', '29 January 2020', '14:07'),
 (82, 'CCAFS', 'SpaceX CRS-20', '1,977 kg', 'LEO', 'NASA', 'Success\n', 'F9 B5', 'Success', '7 March 2020', '04:50'),
 (84, 'KSC', 'Starlink', '15,600 kg', 'LEO', 'SpaceX', 'Success\n', 'F9 B5', 'Success', '22 April 2020', '19:30'),
 (85, 'KSC', 'Crew Dragon Demo-2', '12,530 kg', 'LEO', 'NASA', 'Success\n', 'F9 B5[', 'Success', '30 May 2020', '19:22'),
 (86, 'CCAFS', 'Starlink', '15,600 kg', 'LEO', 'SpaceX', 'Success\n', 'F9 B5', 'Success', '4 June 2020', '01:25'),
 (87, 'CCAFS', 'Starlink', '15,410 kg', 'LEO', 'SpaceX', 'Success\n', 'F9 B5', 'Success', '13 June 2020', '09:21'),
 (88, 'CCAFS', 'GPS III', '4,311 kg', 'MEO', 'U.S. Space Force', 'Success\n', 'F9 B5', 'Success', '30 June 2020', '20:10:46'),
 (89, 'CCAFS', 'ANASIS-II', '5,000–6,000 kg', 'GTO', 'Republic of Korea Army', 'Success\n', 'F9 B5B1058.2544', 'Success', '20 July 2020', '21:30'),
 (90, 'KSC', 'Starlink', '14,932 kg', 'LEO', 'SpaceX', 'Success\n', 'F9 B5', 'Success', '7 August 2020', '05:12'),
 (91, 'CCAFS', 'Starlink', '~15,440 kg', 'LEO', 'SpaceX', 'Success\n', 'F9 B5B1049.6544', 'Success', '18 August 2020', '14:31'),
 (92, 'CCAFS', 'SAOCOM 1B', '3,130 kg', 'SSO', 'CONAE', 'Success\n', 'F9 B5', 'Success', '30 August 2020', '23:18'),
 (93, 'KSC', 'Starlink', '15,600 kg', 'LEO', 'SpaceX', 'Success\n', 'F9 B5B1060.2563', 'Success', '3 September 2020', '12:46:14'),
 (94, 'KSC', 'Starlink', '15,600 kg', 'LEO', 'SpaceX', 'Success\n', 'F9 B5B1058.3565', 'Success', '6 October 2020', '11:29:34'),
 (95, 'KSC', 'Starlink', '15,600 kg', 'LEO', 'SpaceX', 'Success\n', 'F9 B5B1051.6568', 'Success', '18 October 2020', '12:25:57'),
 (96, 'CCAFS', 'Starlink', '15,600 kg', 'LEO', 'SpaceX', 'Success\n', 'F9 B5', 'Success', '24 October 2020', '15:31:34'),
 (97, 'CCAFS', 'GPS III', '4,311 kg', 'MEO', 'USSF', 'Success\n', 'F9 B5', 'Success', '5 November 2020', '23:24:23'),
 (98, 'KSC', 'Crew-1', '~12,500 kg', 'LEO', 'NASA', 'Success\n', 'F9 B5[', 'Success', '16 November 2020', '00:27'),
 (99, 'VAFB', 'Sentinel-6 Michael Freilich (Jason-CS A)', '1,192 kg', 'LEO', 'NASA', 'Success\n', 'F9 B5', 'Success', '21 November 2020', '17:17:08'),
 (100, 'CCAFS', 'Starlink', '15,600 kg', 'LEO', 'SpaceX', 'Success\n', 'F9 B5 ♺[', 'Success', '25 November 2020', '02:13'),
 (101, 'KSC', 'SpaceX CRS-21', '2,972 kg', 'LEO', 'NASA', 'Success\n', 'F9 B5 ♺[', 'Success', '6 December 2020', '16:17:08'),
 (102, 'CCSFS', 'SXM-7', '7,000 kg', 'GTO', 'Sirius XM', 'Success\n', 'F9 B5 ♺', 'Success', '13 December 2020', '17:30:00'),
 (103, 'KSC', 'NROL-108', 'C', 'LEO', 'NRO', 'Success\n', 'F9 B5 ♺', 'Success', '19 December 2020', '14:00:00'),
 (104, 'CCSFS', 'Türksat 5A', '3,500 kg', 'GTO', 'Türksat', 'Success\n', 'F9 B5', 'Success', '8 January 2021', '02:15'),
 (105, 'KSC', 'Starlink', '15,600 kg', 'LEO', 'SpaceX', 'Success\n', 'F9 B5B1051.8609', 'Success', '20 January 2021', '13:02'),
 (106, 'CCSFS', 'Transporter-1', '~5,000 kg', 'SSO', None, 'Success\n', 'F9 B5B1058.5613', 'Success', '24 January 2021', '15:00'),
 (107, 'CCSFS', 'Starlink', '15,600 kg', 'LEO', 'SpaceX', 'Success\n', 'F9 B5 ♺[', 'Success', '4 February 2021', '06:19'),
 (109, 'KSC', 'Starlink', '15,600 kg', 'LEO', 'SpaceX', 'Success\n', 'F9 B5 ♺[', 'Success', '4 March 2021', '08:24'),
 (110, 'CCSFS', 'Starlink', '15,600 kg', 'LEO', 'SpaceX', 'Success\n', 'F9 B5 ♺[', 'Success', '11 March 2021', '08:13:29'),
 (111, 'KSC', 'Starlink', '15,600 kg', 'LEO', 'SpaceX', 'Success\n', 'F9 B5 ♺', 'Success', '14 March 2021', '10:01'),
 (112, 'CCSFS', 'Starlink', '15,600 kg', 'LEO', 'SpaceX', 'Success\n', 'F9 B5B1060.6643', 'Success', '24 March 2021', '08:28'),
 (113, 'CCSFS', 'Starlink', '15,600 kg', 'LEO', 'SpaceX', 'Success\n', 'F9 B5 ♺', 'Success', '7 April 2021', '16:34'),
 (114, 'KSC', 'Crew-2', '~13,000 kg', 'LEO', 'NASA', 'Success\n', 'F9 B5B1061.2647', 'Success', '23 April 2021', '9:49'),
 (115, 'CCSFS', 'Starlink', '15,600 kg', 'LEO', 'SpaceX', 'Success\n', 'F9 B5B1060.7652', 'Success', '29 April 2021', '03:44'),
 (116, 'KSC', 'Starlink', '15,600 kg', 'LEO', 'SpaceX', 'Success\n', 'F9 B5B1049.9655', 'Success', '4 May 2021', '19:01'),
 (117, 'CCSFS', 'Starlink', '15,600 kg', 'LEO', 'SpaceX', 'Success\n', 'F9 B5B1051.10657', 'Success', '9 May 2021', '06:42'),
 (118, 'KSC', 'Starlink', '~14,000 kg', 'LEO', 'SpaceX', 'Success\n', 'F9 B5B1058.8660', 'Success', '15 May 2021', '22:56'),
 (119, 'CCSFS', 'Starlink', '15,600 kg', 'LEO', 'SpaceX', 'Success\n', 'F9 B5B1063.2665', 'Success', '26 May 2021', '18:59'),
 (120, 'KSC', 'SpaceX CRS-22', '3,328 kg', 'LEO', 'NASA', 'Success\n', 'F9 B5B1067.1668', 'Success', '3 June 2021', '17:29'),
 (121, 'CCSFS', 'SXM-8', '7,000 kg', 'GTO', 'Sirius XM', 'Success\n', 'F9 B5', 'Success', '6 June 2021', '04:26')]

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

<!--
## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2024-07-10 | 1.1 |Anita Verma | Changed Version|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |
-->

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>